@import "tailwindcss";

@theme {
  --font-sans: "Space Mono", sans-serif;
  --font-satoshi: "Jetbrains Mono", sans-serif;
}

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  span {
    @apply text-sm;
  }
}

@layer components {
  .title {
    @apply font-satoshi font-bold tracking-tighter text-lg;
  }

  .subtitle {
    @apply text-xs text-gray-800;
  }

  .link {
    @apply text-xs hover:underline hover:text-orange-600 cursor-pointer;
  }
}

@font-face {
  font-family: Satoshi;
  font-display: swap;
  src: url("../public/Satoshi-Variable.ttf") format("ttf");
}
